.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.loading {
    width: 30px;
    height: 30px;
    background-image: url("../assets/loading.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
